[submodule "stik-core"]
	path = stik-core
	url = git@github.com:stikjs/stik-core.git
[submodule "stik-dom"]
	path = stik-dom
	url = git@github.com:stikjs/stik-dom.git
[submodule "stik-helpers"]
	path = stik-helpers
	url = git@github.com:stikjs/stik-helpers.git
[submodule "stik-url"]
	path = stik-url
	url = git@github.com:stikjs/stik-url.git
[submodule "stik-labs"]
	path = stik-labs
	url = git@github.com:stikjs/stik-labs.git
[submodule "stik-view-bag"]
	path = stik-view-bag
	url = git@github.com:stikjs/stik-view-bag.git
